/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Global/Standard stlying*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.btn-small {
  margin: 0.5rem;
  font-size: smaller;
  border-radius: 10px;
  padding: 0.3rem;
  color: #fff;
  background-color: #005baf;
}

.alert-box {
  width: 80%;
  color: #000;
  margin: 1rem;
  min-height: 3rem;
  border-radius: 8px;
  border: 1px solid #303030;
  padding: 1rem;
  font-size: 1rem;
}

.danger {
  background-color: #d64d3b;
}

.success {
  background-color: #51d604;
}

.light-blue {
  background-color: #75c8ffce;
}

/* Navbar */
nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  background: rgb(103, 103, 103);
  background: linear-gradient(
    48deg,
    rgba(103, 103, 103, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
}

#nav-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
}

#gamer {
  color: #ffa600;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: #fff;
  padding: 0.4rem;
  margin: 0 0.25rem;
  font-weight: 600;
}

#greeting {
  color: #fff;
  margin-right: 1rem;
}

#greetingName {
  text-transform: capitalize;
}

.nav-item {
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.nav-item:hover {
  color: #ffa600;
}

.nav-item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
}

.nav-item a:hover {
  color: #ffa600;
}

.nav-item span {
  margin-left: 0.3rem;
}

.nav-item .dropbutton {
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 3.1rem;
  width: 180px;
  background-color: #323435;
  border: 1px solid #858383;
  border-radius: 8px;
  transform: translateX(-40%);
  overflow: hidden;
  padding: 0.3em 0;
}

.menu-item {
  width: 100%;
  border-radius: 8px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  transition: background 500ms;
  font-size: 0.8rem;
}

.nav-item .menu-item:hover {
  background: #858383;
  color: #fff;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  background-color: rgb(114, 112, 112);
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
}

/* Alert div styling */
.alert {
  margin: 1rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 2rem;
  padding: 1rem;
  border-radius: 999px;
}

.alert-success {
  background-color: #a7ee00;
}

.alert-warning {
  background-color: #d6a03b;
}

.alert-danger {
  background-color: #d64d3b;
}

/* Form Styling */
.form-wrapper {
  margin: 2rem auto;
  width: 60%;
  border: #333 0.5px solid;
  border-radius: 5px;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: #fcfcfc;
  box-shadow: 0 0 3px 0.1px;
}

.authHeader {
  width: 100%;
  background-color: #6d6d6d;
  text-align: center;
  color: #fff;
  border-bottom: #333 0.5px solid;
  padding: 0.75rem;
  font-size: 1.5rem;
}

.form-wrapper form {
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form-wrapper .form-group {
  width: 100%;
  float: inline-start;
  margin-top: 0.6rem;
  margin-bottom: 0.75rem;
}

.form-wrapper .form-group input,
.form-wrapper select {
  width: 100%;
  height: 2rem;
  border: #9e9e9e 1px solid;
  border-radius: 5px;
  padding-left: 0.2rem;
  font-size: 18px;
}

.form-wrapper select {
  margin-top: 0.6rem;
}

.form-wrapper input[type="submit"] {
  width: 100%;
  margin: 1rem auto 0.6rem auto;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  height: 3rem;
  background-color: #6d6d6d;
  border: none;
  border-radius: 5px;
  font-size: larger;
  font-weight: 600;
  color: #fff;
}

.form-wrapper a {
  color: #005baf;
}

.form-wrapper textarea {
  resize: none;
  height: 10rem;
  width: 100%;
  padding: 0.2rem;
}

.form-wrapper h3 {
  margin-top: 1rem;
}
#newGameHeader {
  margin-bottom: 1rem;
}

.form-wrapper .stars {
  margin: 0rem auto;
}

/* Games Styling */
#games-container #searchForm .searchBar {
  z-index: 0;
}

#searchForm {
  margin: 2rem auto 0 auto;
  width: 66%;
  height: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.searchBar:focus {
  outline: none;
}

.searchBar {
  width: 100%;
  height: 2rem;
  border: 1px solid #333;
  padding: 4px;
  padding-left: 2rem;
  font-size: larger;
  z-index: 0;
}

.searchBtn {
  position: absolute;
  top: 50%;
  font-size: larger;
  left: 5px;
  opacity: 0.5;
}

.showcase {
  background-color: #fff;
  padding: 0.4rem 0.8rem;
  padding-top: 1rem;
  height: 30%;
  width: 40%;
  margin: 1.2rem auto;
  border-radius: 9px;
  border: #9e9e9e solid 2px;
  box-shadow: 0 10px 15px;
}

.showcase h1 {
  margin-bottom: 1rem;
}

.showcase .btn {
  font-size: large;
  border-radius: 10px;
  padding: 0.3rem;
  box-shadow: 0 2px 5px;
  background-color: #d64d3b;
  color: #fff;
}

.showcase p {
  margin-top: 1.2rem;
  line-height: 1.6rem;
}

.card-cont {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem auto;
  gap: 1rem;
}

.card {
  box-shadow: 0 5px 10px;
  line-height: 1.4rem;
  padding-bottom: 0.4rem;
  font-size: 0.9rem;
}

.card h3,
.card p {
  margin-left: 0.8rem;
}

.card p {
  padding: 0.2rem 0.2rem 0.2rem 0;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 16rem;
  border-bottom: 1px #888785 solid;
}

.authGI {
  color: #333;
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0.9rem;
}

/* Game Page Styling */

.gameTitle {
  margin: 2rem auto 0 auto;
}

.backBtn {
  position: absolute;
  top: 5rem;
  left: 1rem;
  color: #333;
  font-size: 1.5em;
}

.game-cont {
  padding-left: 1rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem auto;
  gap: 1rem;
}

.game-cont .left-side {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  grid-column: 1;
  position: relative;
  overflow: hidden;
}

.game-cont .right-side {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  grid-column: 2;
}

.game-cont .stars {
  margin-bottom: 1rem;
  margin-left: 25%;
}

.game-cont img {
  height: 20rem;
  object-fit: cover;
  position: absolute;
  top: 1rem;
  left: 50;
}

.game-cont p {
  text-align: start;
  width: 80%;
  margin-top: 0;
  line-height: 1.6rem;
}

/* Profile Page */
.page-container {
  height: 100vh;
  width: 95%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 22% 78%;
  grid-template-rows: 5vh 60vh;
}

.profile-page-header {
  margin-bottom: 1rem;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.user-info-form {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 1.3rem;
  border-right: 1px solid black;
  padding: 1rem;
}

.profile-form-group {
  width: 100%;
}

.profile-form-group label {
  display: block;
  margin-top: 1rem;
}

.profile-form-group input {
  width: 100%;
  height: 1.6rem;
  font-size: 1.1rem;
  padding: 5px;
  margin-top: 0.4rem;
}

.profile-submit {
  margin-top: 2rem;
  background-color: #6d6d6d;
  color: #fff;
  padding: 0.25rem;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
}

.profile-submit:hover {
  color: #ffc558;
}

.user-assets {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.user-assets table td,
.user-assets table th,
.admin-page-container table td,
.admin-page-container table th {
  padding: 0.4rem;
  border-bottom: 1px solid #333;
  text-align: start;
  line-height: 1.5rem;
}

.user-assets table tr:nth-child(even),
.admin-page-container table tr:nth-child(even) {
  background-color: rgba(187, 187, 187, 0.337);
}

.user-assets i {
  color: #4573e6;
}

.green {
  color: #76e649;
}

.red {
  color: #bf1212;
}

.delete {
  color: #ff4430;
  cursor: pointer;
}

.admin-page-container {
  height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

@media only screen and (max-width: 1024px) {
  .game-cont {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .game-cont .left-side {
    height: 30vh;
    grid-column: 1;
  }
  .game-cont .right-side {
    grid-column: 1;
    align-items: center;
  }
  .game-cont p {
    width: 100;
  }
  .game-cont .stars {
    margin: 1rem auto;
  }
  .card p {
    padding: 0.2rem 0.1rem;
  }
  .showcase {
    width: 66%;
  }
  .form-wrapper {
    width: 75%;
  }
}

@media only screen and (max-width: 900px) {
  .card-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  #greeting {
    display: none;
  }
  .card-cont {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .card-cont {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin-top: 1.5rem;
  }
  .showcase {
    width: 80%;
  }
  #newGameHeader {
    text-align: center;
  }
  #title-text {
    visibility: hidden;
  }
  #nav-title i::after {
    content: "GamerFacts";
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0.1rem;
    font-size: 1rem;
  }
  .form-wrapper {
    width: 90%;
  }
}
